.header-background{
    
    text-align: center;
    background: linear-gradient(to right, #187492, #02023b);
}

.header-background h1{
    font-size:3rem;
    color: rgb(223, 213, 213);
    margin-left: 30%;
    padding: 1rem;
    font-family: 'Asap Condensed', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Prompt', sans-serif;

    
}
.custom-main{
    margin:0px;
   
}
.custom-days{
    gap: 20px;
}


.custom-cities{
    gap:15px
}
.custom-cities li{
    text-align: center;
}

.custom-left-div h1,input,button{
    margin-bottom:15px;
}

.custom-left-div button{
    width:100%;
   
    
}
.custom-city{
    border: 1px solid black
}


.custom-nothing{
    border-bottom: 1px solid black;
   margin-bottom: 15px;
}